h2{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(179, 19, 219, 0.911);
    border-radius: 0.5rem;
    border: solid;
    border-color: rgb(156, 66, 168);
    border-width: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.show{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}