.wish-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    margin-top: 2px;
    border-radius: 0.5rem;
    cursor: pointer;
}

.imagen{
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.contenido{
    width: 70%;
    padding: 2rem;
}
.info{
    width: 100%;
   
}

.imagen img {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 100%; /* Ajusta la altura proporcionalmente */
    max-height: 250px;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: end;
}

button{
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
    color: white;
    background-color: rgb(148, 55, 138);
    border-radius: 0.5rem;
    align-items: center;
    text-align: center;
}