.imgpo{
    width: 20rem;
  }

.popu-container{
    display: flex;
    flex-wrap: wrap;
}

.trend{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trendU{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2rem;
    justify-content: space-around;
}

.reco-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(179, 19, 219, 0.911);
    border-radius: 0.5rem;
    border: solid;
    border-color: rgb(156, 66, 168);
    border-width: 0.2rem;
    margin-top: 1rem;
}