<header>
  <div class="logo">
    <img src="https://pbs.twimg.com/media/GaclMSbWEAAh6wl?format=jpg&name=small" class="logo" [routerLink]="['']" routerLinkActive="menu-item-selected">
    <input type="text" id="searchInput" placeholder="Buscar...">
    <a href=""><img style="width: 30px; height: 30px; margin-top: 40px;" src="https://cdn-icons-png.flaticon.com/512/107/107122.png"></a> 
    <button [routerLink]="['/cuenta']" routerLinkActive="menu-item-selected">Iniciar sesion</button>
    <button>Mi carrito</button>
  </div>
  <div class="menu">
    <!-- Menú de Dispositivo Inteligente -->
    <button mat-button [matMenuTriggerFor]="aboveMenu1">DISPOSITIVO INTELIGENTE</button>
    <mat-menu #aboveMenu1="matMenu" yPosition="above" class="custom-menu" >
      <button mat-menu-item [routerLink]="['/productos', 'Smartphone']" routerLinkActive="menu-item-selected" class="item">Smartphone</button>
      <button mat-menu-item [routerLink]="['/productos', 'Smartwatch']" routerLinkActive="menu-item-selected">SmartWatch</button>
      <button mat-menu-item [routerLink]="['/productos', 'Smartring']" routerLinkActive="menu-item-selected">SmartRing</button>
      <button mat-menu-item [routerLink]="['/productos', 'Tablet']" routerLinkActive="menu-item-selected">Tablet</button>
      <button mat-menu-item [routerLink]="['/productos', 'Accesorios']" routerLinkActive="menu-item-selected">Accesorios</button>
    </mat-menu>

    <!-- Menú de TV & Video -->
    <button mat-button [matMenuTriggerFor]="belowMenu">TV & VIDEO</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item [routerLink]="['/productos', 'Television']" routerLinkActive="menu-item-selected">Televisores</button>
      <button mat-menu-item [routerLink]="['/productos', 'Proyector']" routerLinkActive="menu-item-selected">Proyectores</button>
      <button mat-menu-item [routerLink]="['/productos', 'DVD']" routerLinkActive="menu-item-selected">DVD</button>
      <button mat-menu-item [routerLink]="['/productos', 'Control']" routerLinkActive="menu-item-selected">Control</button>
    </mat-menu>

    <!-- Menú de Audio -->
    <button mat-button [matMenuTriggerFor]="beforeMenu">AUDIO</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="['/productos', 'Bocinas']" routerLinkActive="menu-item-selected">Bocinas</button>
      <button mat-menu-item [routerLink]="['/productos', 'Audifonos']" routerLinkActive="menu-item-selected">Audifonos</button>
      <button mat-menu-item [routerLink]="['/productos', 'Microfonos']" routerLinkActive="menu-item-selected">Microfonos</button>
      <button mat-menu-item [routerLink]="['/productos', 'Accesorios']" routerLinkActive="menu-item-selected">Accesorios</button>
    </mat-menu>

    <!-- Menú de Computadoras -->
    <button mat-button [matMenuTriggerFor]="afterMenu">COMPUTADORAS</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item [routerLink]="['/productos', 'Laptop']" routerLinkActive="menu-item-selected">Laptop</button>
      <button mat-menu-item [routerLink]="['/productos', 'PC']" routerLinkActive="menu-item-selected">PC</button>
      <button mat-menu-item [routerLink]="['/productos', 'Monitores']" routerLinkActive="menu-item-selected">Monitores</button>
      <button mat-menu-item [routerLink]="['/productos', 'Teclado']" routerLinkActive="menu-item-selected">Teclado</button>
      <button mat-menu-item [routerLink]="['/productos', 'Accesorios']" routerLinkActive="menu-item-selected">Accesorios</button>
    </mat-menu>

    <!-- Menú de Electrodomésticos -->
    <button mat-button [matMenuTriggerFor]="electroMenu">ELECTRODOMÉSTICOS</button>
    <mat-menu #electroMenu="matMenu" yPosition="above">
      <button mat-menu-item [routerLink]="['/productos', 'Refrigerador']" routerLinkActive="menu-item-selected">Refrigerador</button>
      <button mat-menu-item [routerLink]="['/productos', 'Microondas']" routerLinkActive="menu-item-selected">Microondas</button>
      <button mat-menu-item [routerLink]="['/productos', 'RobotAspiradora']" routerLinkActive="menu-item-selected">Robot Aspiradora</button>
    </mat-menu>

    <!-- Menú de Marca -->
    <button mat-button [matMenuTriggerFor]="marcaMenu">MARCA</button>
    <mat-menu #marcaMenu="matMenu" yPosition="above">
      <button mat-menu-item [routerLink]="['/prodMar', 'Samsung']" routerLinkActive="menu-item-selected">Samsung</button>
      <button mat-menu-item [routerLink]="['/prodMar', 'Apple']" routerLinkActive="menu-item-selected">Apple</button>
      <button mat-menu-item [routerLink]="['/prodMar', 'Xiaomi']" routerLinkActive="menu-item-selected">Xiaomi</button>
      <button mat-menu-item [routerLink]="['/prodMar', 'LG']" routerLinkActive="menu-item-selected">LG</button>
      <button mat-menu-item [routerLink]="['/prodMar', 'Mabe']" routerLinkActive="menu-item-selected">Mabe</button>
      <button mat-menu-item [routerLink]="['/prodMar', 'HP']" routerLinkActive="menu-item-selected">HP</button>
      <button mat-menu-item [routerLink]="['/prodMar', 'Lenovo']" routerLinkActive="menu-item-selected">LENOVO</button>
      <button mat-menu-item [routerLink]="['/prodMar', 'Steren']" routerLinkActive="menu-item-selected">STEREN</button>
    </mat-menu>
  </div>
  <!-- <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
          Toggle dropdown
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>
  
    <div class="col text-end">
      <div ngbDropdown placement="top-end" class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropup</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>
  </div> -->
</header>
<router-outlet></router-outlet>