<header>
  <div class="logo">
    <img src="https://pbs.twimg.com/media/GaclMSbWEAAh6wl?format=jpg&name=small" class="logo" [routerLink]="['']" routerLinkActive="menu-item-selected">
    <input type="text" id="searchInput" placeholder="Buscar...">
    <a href=""><img style="width: 30px; height: 30px; margin-top: 40px;" src="https://cdn-icons-png.flaticon.com/512/107/107122.png"></a> 
    <button>Iniciar sesion</button>
    <button>Mi carrito</button>
  </div>
  <div class="menu">
    <!-- Menú de Dispositivo Inteligente -->
    <button mat-button [matMenuTriggerFor]="aboveMenu1">DISPOSITIVO INTELIGENTE</button>
    <mat-menu #aboveMenu1="matMenu" yPosition="above">
      <button mat-menu-item [routerLink]="['/smartphones']" routerLinkActive="menu-item-selected">Smartphone</button>
      <button mat-menu-item>SmartWatch</button>
      <button mat-menu-item>SmartRing</button>
      <button mat-menu-item>Tablet</button>
      <button mat-menu-item>Accesorios</button>
    </mat-menu>

    <!-- Menú de TV & Video -->
    <button mat-button [matMenuTriggerFor]="belowMenu">TV & VIDEO</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Televisores</button>
      <button mat-menu-item>Proyectores</button>
      <button mat-menu-item>DVD</button>
      <button mat-menu-item>Control</button>
    </mat-menu>

    <!-- Menú de Audio -->
    <button mat-button [matMenuTriggerFor]="beforeMenu">AUDIO</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Bocinas</button>
      <button mat-menu-item>Audifonos</button>
      <button mat-menu-item>Microfonos</button>
      <button mat-menu-item>Accesorios</button>
    </mat-menu>

    <!-- Menú de Computadoras -->
    <button mat-button [matMenuTriggerFor]="afterMenu">COMPUTADORAS</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Laptop</button>
      <button mat-menu-item>PC</button>
      <button mat-menu-item>Monitores</button>
      <button mat-menu-item>Teclado</button>
      <button mat-menu-item>Accesorios</button>
    </mat-menu>

    <!-- Menú de Electrodomésticos -->
    <button mat-button [matMenuTriggerFor]="electroMenu">ELECTRODOMÉSTICOS</button>
    <mat-menu #electroMenu="matMenu" yPosition="above">
      <button mat-menu-item>Refrigerador</button>
      <button mat-menu-item>Microondas</button>
      <button mat-menu-item>Robot Aspiradora</button>
    </mat-menu>

    <!-- Menú de Marca -->
    <button mat-button [matMenuTriggerFor]="marcaMenu">MARCA</button>
    <mat-menu #marcaMenu="matMenu" yPosition="above">
      <button mat-menu-item>Samsung</button>
      <button mat-menu-item>Apple</button>
      <button mat-menu-item>Xiaomi</button>
      <button mat-menu-item>LG</button>
      <button mat-menu-item>Mabe</button>
      <button mat-menu-item>HP</button>
      <button mat-menu-item>LENOVO</button>
      <button mat-menu-item>STEREN</button>
    </mat-menu>
  </div>
</header>
<router-outlet></router-outlet>