
<div class="popu">
    <div class="card" >
      <img [src]="product.image" class="card-img-top" alt="..."  [routerLink]="['/producto', product._id]">
      <div class="card-body">
        <p class="card-text">{{ product.title }}</p>
        <p><strong>Price:</strong> {{ product.price | currency }}</p>

        <div class="container d-flex">
          <!-- Rating Stars -->
          <div class="stars" [style]="{ '--rating': product.rating.rate }"></div>
          <pre><b>({{ product.rating.rate }})</b></pre>
        </div>

        <ng-container *ngIf="!isAdmin(); else userView">
        </ng-container>
        
        <ng-template #userView>
          <div class="buttons">
            <button (click)="onEditCard()">Editar</button>
            <button (click)="onDeleteCard()">X</button>
          </div>
        </ng-template>
      </div>
    </div>
</div>


