<div class="wish-container">
    <div class="imagen">
        <img src="https://img.gkbcdn.com/p/2024-06-20/onexgpu-e-gpu-dock-8gb-aeab9a-1718875012053._w280_p1_.jpg" alt="">
    </div>
    <div class="contenido">
        <div class="info">
            <h3>Titulo</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea sit, quia maxime in est dolore minima tempora, laboriosam similique iste, optio officia nobis quam earum. Explicabo quos perspiciatis tempora quam.</p>
            <p>Precio</p>
        </div> 
        <div class="botones">
            <button>Mover al Carrito</button>
            <button>Quitar</button>
        </div>  
    </div>
</div>