<div class="wish-container" [routerLink]="['/producto', product._id]">
    <div class="imagen">
        <img [src]="product.image" alt="">
    </div>
    <div class="contenido">
        <div class="info">
            <h3>{{product.title}}</h3>
            <p>{{product.description}}</p>
            <p>Precio: {{product.price | currency}}</p>
        </div> 
        <div class="botones">
            <button (click)="onMoverACarrito(); $event.stopPropagation()">Mover al Carrito</button>
            <button (click)="onEliminarProducto(); $event.stopPropagation()">Quitar</button>
        </div>  
    </div>
</div>