<div class="forms">
    <form #form="ngForm"  class="row g-3">
    <h1>Registrate</h1>
      <div>
        <input type="text" name="username" required class="form-control" placeholder="Elige un nombre de usuario">
      </div>
      <div>
        <input type="password" name="password" required class="form-control" placeholder="Elige una contraseña">
      </div>
  
      <div class="ini">
        <button type="submit" [routerLink]="['']">Registrar</button>
      </div>
      
      <div *ngIf="form.submitted && !form.valid" class="alert alert-danger" role="alert">
        Datos incompletos
      </div>
    </form>
</div>
  